.course{
    color: blueviolet;
    text-align: center;
}
.course ul {
    list-style-type: none;
    padding: 0;
}
.course ul li a {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}
  
.course ul li a:hover {
    text-decoration: underline;
}
  