<!-- <h1>Online Learning App</h1>
<nav>
  <a routerLink="/home"> Home </a>|
  <a routerLink="/courses/101">product 101</a>|
  <a routerLink="/courses/102">product 102</a>|
  <a routerLink="/courses/103">product 103</a>|
  <a routerLink="/profile">Profile</a>|
</nav>

<router-outlet></router-outlet> -->
<nav>
  <a routerLink="/home">Home</a> 
  <a routerLink="/courses">Courses</a> 
  <a routerLink="/profile">Profile</a>
</nav>

<router-outlet></router-outlet>
<!-- <footer>&copy; online learing app</footer> -->