<section class="home">
  <h1>Online Learning Application</h1>
  <img src="https://th.bing.com/th/id/OIP.wBZDCxYgSaKMMmpw9cm82gHaEc?rs=1&pid=ImgDetMain" alt="no image found">
  <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias repellat odit magni voluptates. Aspernatur veniam reprehenderit natus explicabo sequi, quos molestias, distinctio, porro consequuntur iste debitis quod esse veritatis sint animi eaque atque provident!</h4>
</section>
<!-- <nav>
  <a routerLink="/home">Home</a> |
  <a routerLink="/courses">Courses</a> |
  <a routerLink="/profile">Profile</a>
</nav> -->
