<nav>
   <!-- <a routerLink="/dashboard">Home</a> -->
    <!-- <a routerLink="/user">User</a>
    <a routerLink="/product">Products</a> -->
    <!-- <a routerLink="/"></a> -->
    <a routerLink="/user/login">Login</a>
    <a routerLink="/user/register">Register</a>
    <!-- <a routerLink="/user/profile">Profile</a> -->
    <!-- <a routerLink="/product/product-list">Product List</a>
    <a routerLink="/product/product-details">Product Details</a> -->
</nav>
<!-- <h1>Welcome to my E-commerce Application</h1> -->
<!-- <div>
    <a routerLink="/user/profile">User profile</a>|
    <a routerLink="/orders/orderlist">OrderList</a>|
    <a routerLink="/orders/orderdetails">Order Details</a>|
    <a routerLink="/products/productdetails">ProductsDetails</a>|
    <a routerLink="/products/productlist">ProductsList</a>|
</div> -->

<router-outlet></router-outlet>